body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 1em;
  /* background-color: #f6b4b4; */
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

#chart-area {
  max-width: 1200px;
  margin: 0 auto;
}

.poster {
  transform: translate(-5px, -7px);
}

.box--tip {
  transform: scale(0.8) translateY(12%);
}
